#page2{
    background: url("../img/secondBG.png") no-repeat center center;
    background-size: cover;
}
.aboutLayer {
    height: 43%;
}
.imgAboutContainer img{
    display: block;
    margin: 0 auto;
}
.txtAbout{
    max-width: 690px;
    margin: 0 auto;
    padding-top: 40px;
}
.txtAbout p{
    color: #f2f3f3;
    font-size: 17px;
    line-height: 32px;
    text-align: center;
    font-family: "MyriadProRegular";
}
