#page7{
    background: #282f39;

}
.contactLayer{
    max-width: 1325px;
    margin: 0 auto;
}

/****left top contact wrapper ***/
.topInnerContactLeftWrap{
    font-size: 24px;
    color:#ffffff;
    background: rgba(0, 0, 0, 0) url("../img/lineContact.png") no-repeat scroll 100% 74% / 79% 2px;
    margin-bottom: 20px;
}
/****left lower contact wrapper ***/
.lowerInnerContactLeftWrap{

}

/****inner lower wrapper ***/
.innerLeftTxtConWrap{
    float: left;
    width: 35%;
    height: auto;
}
.innerDetail {
    color: #a3a3a3;
    font-family: RalewayLight;
    margin-bottom: 10px;
    padding-left: 25px;
    position: relative;
}
.innerDetail img{
    top: 5px;
    left: 0;
    position: absolute;
}
/****right container lower ***/
.innerRightTxtConWrap{
    float: left;
    width: 65%;
}
.innerRightTxtConWrap p{
    margin: 0;
    color:#ffffff;
}

/****right container ***/
.contactInnerLeft{
    width: 60%;
    float: left;
    height: 100%;
    padding-right: 20px;
}
.contactInnerRight{
    width: 40%;
    float: right;
    height: 100%;
    padding-top: 25px;
}
#map{
    height: 355px;
    width: 100%;
}
div#contact div.form-container {
    text-align: right;
}
div#contact div.form-container .input-field {
    margin-top: 0;
}
div#contact div.form-container .input-field input,
div#contact div.form-container .input-field textarea {
    border: 1px solid #a3a3a3;
    border-radius: 4px;
    color: #fff;
    text-indent: 20px;
}
div#contact div.form-container .input-field input {
    height: 30px;
    padding-bottom: 5px;
    padding-top: 20px;
}
div#contact div.form-container .input-field textarea {
    height: 248px;
    max-height: 70px;
    overflow-y: hidden;
    padding-left: 20px;
    position: relative;
    text-indent: 0;
    width: calc(100% - 20px);
}
div#contact div.form-container .input-field textarea:focus,
div#contact div.form-container .input-field textarea:hover {
    overflow-y: auto;

}
div#contact div.form-container .input-field input.error,
div#contact div.form-container .input-field textarea.error {
    border: 1px solid #d85e63;
    box-shadow: 0 1px 0 0 #d85e63;
}
div#contact div.form-container .input-field label {
    left: 20px;
    top: 1.2rem;
}
div#contact div.form-container .input-field label.active{
    top: 30px;
}
div#contact div.form-container #btnSubmit {
    height: 45px;
    line-height: 45px;
    text-transform: none;
    width: 220px;
}
div#registration-error-field{
    background: #fff none repeat scroll 0 0;
    border-radius: 3px;
    color: #d85e63;
    display: block;
    margin: 5px 0;
    padding: 7px 5px 7px 35px;
    position: relative;
    text-align: left;
}
div#registration-error-field i#error-icon{
    left: 5px;
    position: absolute;
}

/****footer part ****/
.contactMapNav {
    bottom: 0;
    left: 0;
    position: absolute;
    right: 0;
    width: 100%;
}
div#contact div.contactMapNav a.country-button {
    background: #222831 none repeat scroll 0 0;
    color: #9d9d9e;
    float: left;
    font-family: RalewayLight;
    font-size: 30px;
    line-height: 75px;
    text-align: center;
    width: 33.33%;
}
div#contact div.contactMapNav a.country-button.active {
    background-attachment: scroll;
    background-color: #028b73;
    background-image: url("../img/icons/pointer.png");
    background-position: center top;
    background-repeat: no-repeat;
    background-size: auto auto;
    color: #222831;
}
.clear{
    clear:both;
}