div#features-container {
    background: url('../img/features.png') no-repeat center center / 100% 100%;
    height: 100%;
}
@media only screen and (max-width: 640px) {
    div#features-container {
        background: rgba(0, 0, 0, 0) url("../img/features.png") no-repeat scroll right center / cover ;
        height: 100%;
    }
    div.fp-controlArrow {
        display: none;
    }
}
div.features-container div.benefits-container .image-container{
    float: left;
    width: 20%;
}
@media only screen and (min-width: 993px) {
    div#feats-carousel {
        display: none;
    }
}
div#feats-carousel {
    height: 300px !important;
    margin: 0 auto;
    width: 95%;
}
div#feats-carousel ul.slides{
    height: auto !important;
}
div.features-container div.benefits-container .image-container img {
    vertical-align: middle;
}
div.features-container div.benefits-container .description-container{
    float: left;
    max-width: 380px;
    padding-top: 20px;
    width: 80%;
}
div.features-container div.benefits-container .description-container span.header{
    color: #028b73;
    font-family: RalewayLight;
    font-size: 22px;
}
div.features-container div.benefits-container .description-container p.content{
    color: #fff;
    font-family: RalewayRegular;
    font-size: 12px;
}

div#apple-watch-container {
    background: url('../img/iwatch.png') no-repeat center center / 100% 100%;
    height: 100%;
}
div#apple-watch-container div#advanced-technology{
    color: #028b73;
    font-family: RalewayLight;
    text-align: right;
}
