nav{
    background: transparent none repeat scroll 0 0;
    box-shadow: none;
    color: #fff;
    font-family: AvenirNext-Regular;
    font-size: 18px;
    height: 120px;
    line-height: 120px;
    position: fixed;
    width: 100%;
    z-index: 2;
}
nav div.nav-wrapper {
    margin: 0 auto;
    max-width: 1160px;
    width: 100%;
}
nav ul a {
    font-size: 18px;
}
nav ul#menu a:hover,
nav ul li.active {
    background: none;
    text-decoration: underline;
}