div#page5{
    background: url('../img/partners.png') no-repeat center center / 100% 100%;
}
div.partners-container div.partners-row {
    display: table;
    height: 100%;
    margin: 0 auto;
    width: 100%;
}
div.partners-container div.partners-column{
    display: table-cell;
    height: 100%;
    padding: 20px;
    vertical-align: middle;
    width: 50%;
}
div.partners-row div.partners-column:first-child {
    background: #0f7464;
}
div.partners-row div.partners-column:first-child div.col-container{
    display: table-cell;
    vertical-align: middle;
}
div.partners-row div.partners-column#banks {
    background: #fff;
}
div.partners-container div.partners-column img{
    margin: 30px 10px;
}
div.partners-container div.col-container h1 {
    color: #282f39;
    font-size: 110px;
    opacity: 0.3;
}