div#fonebayadFullPage .section{
    padding: 0;
}
div#page1 {
    background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url('../img/splash.png') no-repeat fixed center center / 100% 100%;
}
div.splashContainer {
    margin-left: 120px;
    max-width: 705px;
}
@media only screen and (max-width: 992px) {
    div.splashContainer {
        margin-left: 0;
        max-width: 705px;
    }
}
div.homepageContent span{
    color: #fff;
    display: block;
    font-family: MyriadProSemiBold;
}
div.homepageContent span.homepageText1{
    font-size: 45px;
}
div.homepageContent span.homepageText2{
    font-size: 24px;
}
div.homepageDownloadContainer {
    margin-top: 75px;
}
div.homepageDownloadContainer img {
    margin-right: 20px;
}
div.nextPageContainer {
    bottom: 0;
    left: 0;
    margin-bottom: 25px;
    position: absolute;
    right: 0;
    text-align: center;
    z-index: 100;
}
div.nextPageContainer img {
    cursor: pointer;
}